geopandas==0.14.4
shapely==2.0.4
pyproj==3.6.1
rtree==1.2.0
libpysal==4.12.0
esda==2.6.0
splot==1.1.7
mapclassify==2.6.1
pyogrio==0.9.0
contextily==1.6.0
mercantile==1.2.1
xyzservices==2024.9.0
folium==0.17.0
ipywidgets==8.1.3
